


/*nav*/

.nav {
  height: 50px;
  width: 100%;
  background: #5bc0de;
}

.nav .nav-content {
  width: 1190px;
  min-width: 1190px;
  height: 50px;
  margin: 0 auto;
}

.login-btn {
  float: right;
  padding: 18px 16px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  font-weight: bold !important;
}

.logo {
  float: left;
  height: 100%;
  line-height: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 100px;
}


/*nav end*/


/*播放器样式*/

.video-box {
  width: 898px;
  height: 508px;
  background: #000;
  float: left;

}

.user-input {
  width: 80% !important;
  float: left;
  padding: 10px;
}

.danmuchi-box {
  width: 290px;
  height: 510px;
  float: left;
  border: 1px solid #333;
  overflow: auto;
}

.danmuchi-text {
  width: 80%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.danmuchi-time {
  margin: 0;
  width: 20%;
  float: right;
  border-left: 1px solid #333;
}

.danmuchi li {
  text-align: center;
  border-bottom: 1px solid #333;
}

.input-box {
  height: 100px;
  width: 100%;
  margin-top: 20px;
}

.send-btn {
  margin-left: 20px;
}


/*播放器控制器*/

.video-left{
  border: 1px solid #000;
  position: relative;
  height: 510px;
  float: left;
}
.time-box {
  height: 100%;
  line-height: 40px;
  margin: 0;
}

.btn-play,
.btn-full {
  margin-top: 5px;
}

.time-now {
  margin-right: 10px;
}

.progress {
  margin-bottom: 0 !important;
  margin-top: 10px;
}

.muted {
  height: 100%;
  display: block;
  line-height: 40px;
  text-align: center;
}

.video-controls{
  width: 898px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}

.video-controls .row{
  margin: 0;
  padding: 0;
}

/*播放器控制器 end*/


/*播放器样式 end*/


/*弹幕样式*/

.display-danmu {
  width: 898px;
  height: 478px;
  position: absolute;
  z-index: 233;
  overflow: hidden;
}

.danmu-text {
  font-size: 30px;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 100%;
  color: #fff;
  /*动画执行时间*/
  animation: mymove 10s infinite;
  -webkit-animation: mymove 10s infinite;
  /*播放次数*/
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  //线性播放
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  //视频暂停
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  text-shadow: 0px 0px 6px #333;
}

@keyframes mymove {
  from {
    left: 100%;
  }
  to {
    left: -10%;
  }
}

@-webkit-keyframes mymove
/*Safari and Chrome*/

{
  from {
    left: 100%;
  }
  to {
    left: -10%;
  }
}


/*弹幕样式 end*/

.input-error{
  margin-bottom: 0 !important;
  margin-top: 10px;
  display: none;
}
