/*基础配置*/

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

input, select, label {
  vertical-align: middle;
  outline: none;
}

li {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
}

body, button, input, select, textarea {
  color: #2e2e2e;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, Tahoma, "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", sans-serif;
}


/*基础配置 end*/


/*播放器样式*/

.content-box {
  margin: 0 auto;
  width: 1190px;
  min-width: 1190px;
}

.video-box {
  width: 900px;
  height: 650px;
  background: #000;
}

.user-input {
  width: 80% !important;
  float: left;
  height: 20px;
  padding: 10px;
}


/*播放器样式 end*/


/*弹幕样式*/

.display-danmu {
  width: 900px;
  height: 578px;
  position: absolute;
  z-index: 233;
  overflow: hidden;
}

.danmu-text {
  /*font-weight: bold;*/
  font-size: 24px;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 100%;
  color: #fff;
  /*动画执行时间*/
  animation: mymove 10s infinite;
  -webkit-animation: mymove 10s infinite;
  /*播放次数*/
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  //线性播放
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  //视频暂停
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes mymove {
  from {
    left: 100%;
  }
  to {
    left: -10%;
  }
}

@-webkit-keyframes mymove
/*Safari and Chrome*/

{
  from {
    left: 100%;
  }
  to {
    left: -10%;
  }
}


/*弹幕样式 end*/
