/*基础配置*/

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

input, select, label {
  vertical-align: middle;
  outline: none;
}

li {
  list-style: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

body,
button,
input,
select,
textarea {
  color: #2e2e2e;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, Tahoma, "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", sans-serif;
}


/*基础配置 end*/


/*播放器样式*/

.content-box {
  margin: 0 auto;
  width: 1190px;
  min-width: 1190px;
}

.video-box {
  width: 900px;
  height: 650px;
}

.user-input {
  width: 80%  !important;
  float: left;
  height: 20px;
  padding: 10px;
}


/*播放器样式 end*/
